
$dark-blue: #003b5c;
$bright-blue: #17d1ff;
$brand-grey: #86888c;
$accessible-grey: #727579;
$light-grey: #f3f3f3;
$orange: #f46519;
$yellow: #ecc400;
$white: #ffffff;

$colours: (
  'dark-blue': $dark-blue,
  'bright-blue': $bright-blue,
  'brand-grey': $brand-grey,
  'accessible-grey': $accessible-grey,
  'light-grey': $light-grey,
  'orange': $orange,
  'yellow': $yellow,
);
