.header__search--trigger {
  width: 30px;
  height: 30px;
  background-image: url(../images/svg/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  cursor: pointer;
}
